body {
    background-color: #333;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #13b974;
}
header {
    background-color: black;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
nav ul {
    list-style: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin: 0 15px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
}
section {
    padding: 20px;
    margin: 10px;
    background-color: B;
    border-radius: 5px;
}
footer {
    text-align: center;
    padding: 10px 0;
    background: #000000;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}
form {
    display: flex;
    flex-direction: column;
}
form label {
    margin: 10px 0 5px;
}
form input, form textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
form button {
    padding: 10px;
    background: #000000;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
form button:hover {
    background: #4cae4c;
}
@media (max-width: 600px) {
    nav ul li {
        display: block;
        margin: 5px 0;
    }
}